.main-container {
  /* 100vh - hight of header */
  min-height: calc(100vh - 3rem);
  display: flex;

}

/* LIST */
.plants-list {
  flex: 50%;
  display: flex;
  justify-content: flex-end;

  /* display: flex;
  justify-content: end; */


}

.plants-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* moves the list to the right side */
  max-width: 45rem;
  margin: 3rem 0rem 0rem 2rem;
  padding-top: 2rem;
}

.plants-list ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.plants-list-item {
  width: 100%;
  margin-bottom: 1rem;

  display: grid;

  grid-template-rows: 40px;
  grid-template-columns: 10% 10% 35% 17.5% 17.5% 10%;
  align-items: center;
}

.plants-list-item div:nth-child(4),
.plants-list-item div:nth-child(5) {
  text-align: center;
}

.plant-logo {
  align-self: center;
  height: 40px;
}

.wLevel-logo {
  align-self: center;
  height: 22px;
}

.add-plant-btn {
  grid-column: 1 / 6;
  background-color: rgba(77, 77, 77, 0.5);
  padding: 0.3em 1.2em;
}


/* MAP */
.map {
  /* max-height: calc(100vh - 3rem); */
  flex: 50%;

  display: flex;
  justify-content: flex-start;
  /* justify-content: center;  */
  /* align-items: center; */
}

.map-container {
  align-self: flex-start;
  margin-top: 2rem;

  width: 100%;
  /* height: 100%; */
  padding: 3rem;


  display: grid;
  grid-template-rows: repeat(7, minmax(0, 100px));
  grid-template-columns: repeat(7, minmax(0, 100px));
  /* gap: 1px; */
  aspect-ratio: 1 / 1;

}

.map-container-item {
  color: rgba(41, 41, 41, 0.9);
  border-left: 1px dashed rgba(255, 255, 255, 0.1);
  border-top: 1px dashed rgba(255, 255, 255, 0.1);
  /* outline: 1px solid black;
  outline-offset: -1px; 
  /* background-color: bisque; */
  overflow: hidden;
  /* width: 30px; */


}

.last-in-row {
  border-right: 1px dashed rgba(255, 255, 255, 0.1);
}

.last-row {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
}





/* .main-container {
  width:100wh;
  display: grid;
  grid-template-columns: 10% 30% 10% 10% 40%;
  grid-template-rows: 10% 80% 10%;

} 

.child {
 grid-row-start: 2;
      grid-column-start: 1;
      grid-row-end: 3;
      grid-column-end: 3;
      grid-area: 1 / 3 / 3 / 4
}
*/

@media (max-width: 900px) {

  .main-container {
    flex-direction: column;
  }

  .plants-list-container {
    align-items: center;
    padding: 0rem 2rem;
    padding-right: 1.1rem;

  }

  .plants-list-item {
    margin: 1rem 0;
  }

  .map-container {
    padding: 5rem;
    padding-top: 1rem;
  }

}