.input-wrapper-date-input {
  margin-top: 3px;

  position: relative;
  display: inline-block;
  /* or block if full width */

  width: 100%;
}

.input-like-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0rem 0.4rem 0rem 0.2rem;
  padding: 0rem 0.5rem;
  background: #2e2e2e;
  border: 1px solid #5c5b5b;
  cursor: pointer;
  font-size: 0.9rem;
  color: #696969;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  min-height: 1.75rem;
}

.input-like-div:hover {
  background: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.25);
}

.input-like-div.add-item-invalid {
  border-color: rgba(244, 67, 54, 0.5);
  background: rgba(244, 67, 54, 0.08);
}

.hidden-date-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
}