.add-edit-plant-logo {
    display: flex;
    position: relative;
}

.add-edit-plant-logo .plant-logo,
.add-edit-plant-logo .wLevel-logo {
    cursor: pointer;
}

.add-edit-plant-logo p {
    cursor: pointer;
}

.add-edit-plant-button-stack>* {
    background-color: transparent;
    padding: 0;
    width: 50%;
    font-size: 1.4em;
}

.add-edit-plant-button-stack >*:hover {
    border-color: transparent;
    color: rgba(255, 255, 255, 0.45);
}

                                                                              
                                                            