.map-container-edit {
  align-self: flex-start;
  margin-top: 14rem;

  width: 100%;
  /* height: 100%; */
  padding: 3rem;

  display: grid;
  grid-template-rows: repeat(var(--columns-number), minmax(0, 85px));
  grid-template-columns: repeat(var(--columns-number), minmax(0, 85px));
  /* gap: 1px; */
  aspect-ratio: 1 / 1;
}

.map-btn-edit {
  /* opacity: 0; */
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 17rem;
  left: 0.5rem;
}

.map-btn-edit>* {
  background-color: transparent;
  padding: 0;
  width: 50%;
  font-size: 1.4em;
}

.map-btn-edit>*:hover {
  border-color: transparent;
  color: rgba(255, 255, 255, 0.45);
}

.map-container-edit:hover .map-btn-edit {
  /* opacity: 1; */
  pointer-events: auto;
}

.plant-list-edit {
  width: calc(100% - 7rem);
  max-width: calc(82px*var(--columns-number));
  /* 8*85=680px */
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.plant-list-picker {
  position: absolute;
  width: 100%;
  /* min-height: 100px; */
  margin-top: 0.5rem;
  display: flex;
  flex-wrap:wrap;
  /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    max-width: calc(50px * 5 + 0.5rem * 4); */
  /* limit to 5 columns visually */
  gap: 0.5rem;
  padding: 0.5rem;
  background: rgba(77, 77, 77, 0.9);
  border-radius: 10px;

  max-height: calc(2 * 50px + 0.8rem); /* 2 rows */
  overflow-y: auto;
}

.plant-list-edit {
  text-align: center;
}

.plant-list-edit h3 {
  margin: 0;
}

.plant-list-edit p {
  margin: 1;
  font-size: 0.9rem;
}

@media (max-width: 900px) {
  .map-container-edit {
    padding: 5rem;
    padding-top: 1rem;
  }

  .map-btn-edit {
    top: 15rem;
    left: 2rem;
  }

  .plant-list-edit {
    width: calc(100% - 11rem);
    position: absolute;
    top: 1rem;
    left: 5rem;
  }
}