.logo-picker {
    position: absolute;

    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 0.5rem;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    z-index: 100;
}

.logo-picker::before {
  content: '';
  position: absolute;
  top: -14px;
  left: 10px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent rgba(255, 255, 255, 0.05) transparent;
}

.logo-option {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.logo-option img {
    max-width: 80%;
    max-height: 80%;
}

.logo-option:hover {
    border-color: rgba(255, 255, 255, 0.3);
}

.logo-option.selected {
    border-color: #999999;
    /* highlight selected */
}