.main-header {
    width: 100%;
    height: 3rem;
    /* background-color: #2c2c2c; */

    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
}

.main-header-logo {
    /* background: linear-gradient(to right, rgba(255, 255, 255, 0.85), rgba(181, 210, 247, 0.85), rgba(137, 184, 245, 0.85));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; */

    color: rgba(255, 255, 255, 0.65);

    /* border: 1px dashed rgba(255, 255, 255, 0.15);
    border-radius: 100px;; */

    height: 100%;
    font-size: 1.8rem;
    font-weight: 900;
    padding-top: 0.5rem;
    /* margin-left: 2rem; */
}

.main-header-btn {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 2rem;
    background-color: #3d3c3c;
}