:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.65);
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgba(32, 32, 32, 0.87);
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  color: rgba(32, 32, 32, 0.5);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


input,
textarea,
select,
button {
  font: inherit;  /* inherit font-size, font-family, line-height, etc. */
}

/* BUTTONS */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
  color: rgba(255, 255, 255, 0.65);
}

button:hover {
  border-color: #727272;
}

/* accessibility “focus ring” */
button:focus,
button:focus-visible {
  /* outline: 1px auto -webkit-focus-ring-color; */
  outline: none;
}

/* INPUTS */

input {
  font-size: 0.9rem;

  width: calc(100% - 5px); /* the reason why input was overflowing */
  height: 100%;
  padding: 4px 0px 4px 6px;
  background: #2e2e2e;
  color: rgba(255, 255, 255, 0.65);
  
  /* border-radius: 4px; */
  border: 1px solid #5c5b5b;

  transition: all 0.2s ease;
  /* text-align: center */
}

/* input {
  border: 1px solid #ccc;
  transition: all 0.2s ease;
} */

input:hover {
  border-color: #999;
}

input:focus {
  border-color: #d3d3d3;
}

/* accessibility “focus ring” */
input:focus-visible {
  outline: none;
}

/* scrollbar controls */

/* width */
::-webkit-scrollbar {
  width: 7px;
  /* make it thinner */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: transparent;
  /* or a subtle color */
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.6);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 1);
}

/* CSSTransition */

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}